body {
  font-family: 'Poppins', sans-serif;
  background-image: url('fruit_bg.jpg');
  background-size: cover;
  color: white;
  text-align: center;
  padding: 30px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #ffcc00;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  background-color: #ff6600;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ff9900;
}
